/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src:
         url('../fonts/roboto-v29-latin-500.woff2') format('woff2'),
         url('../fonts/roboto-v29-latin-500.woff') format('woff'),
         url('../fonts/roboto-v29-latin-500.ttf') format('truetype');
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src:
         url('../fonts/roboto-v29-latin-700.woff2') format('woff2'),
         url('../fonts/roboto-v29-latin-700.woff') format('woff'),
         url('../fonts/roboto-v29-latin-700.ttf') format('truetype');
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFD845;
    font-family: "Roboto",sans-serif;
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

.header{
    padding: 50px 0;
}
.pocemon-logo{
margin-bottom: 70px;
}

.gross-btn,.aa-zz-btn{
    width: 260px;
    height: 60px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}
.search-input{
    width: 300px;
    height: 60px;
    margin-left: 35px;

}
.input-searching{
    border-radius: 15px !important;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.input-searching::placeholder{
    color: #000000;
}
.search-image{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 25px;
    top: 20px;
    background: url("../images/search.svg");
    z-index: 99;
    border-radius: 15px;
}
.aa-zz-btn{
    margin-left: 35px;
}
.button-btn{
    width: 200px;
    height: 60px;
    margin-left: 35px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.gross-btn:hover,.aa-zz-btn:hover,.input-searching:hover,.button-btn:hover{
box-shadow:  0 0 6px 3px #000000;
}
/*                 MAIN PART                        */

.main{
    padding: 50px 0;
}
.pocemons__container{
    max-width: 1440px;
}
.pocemons-list{
    margin-left: -30px;
    margin: 0;
}
.pocemon-item{
    margin-left: 30px;
    margin-bottom: 30px;
    width: 307px;
    min-height: 423px;
    border: 2px solid #000000;
    border-radius: 20px;
}
.pocemon-item:hover{
box-shadow:0 0 5px 2px black
}
.pocemon-img-box{
padding: 30px 75px 68px;
border-bottom: 2px solid #000000;
}
.pocemon-item-body{
padding: 20px 30px 37px;
}
.pocemon-heading,.pocemon-height,.pocemon-weight{
margin-bottom: 0;
font-weight: bold;
font-size: 24px;
line-height: 28px;
}
.pocemon-candy{
margin-top: 5px;
font-weight: 500;
font-size: 20px;
line-height: 23px;
}
.pocemon-item-bottom{
    margin-top: 25px;
}

.pocemon-height{
    margin-left: 30px;
}